<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to grid-grouper!
  </h1>
</div>
<div class="grid-wrapper">
  <div class="grid-row"
       *ngFor="let row of grid; let x = index">
    <div *ngFor="let cell of row; let y = index"
         (click)="toggleCell(x,y)"
         class="cell"
         [class.truthy]="!!cell"
         [class.falsy]="!cell">
      {{x}},{{y}}
    </div>
  </div>
</div>

<h2>Groups:</h2>
<div class="grouped-results">
  <div class="grid-row"
       *ngFor="let key of objectKeys(groups)">
    <div class="cell truthy"
         *ngFor="let cell of objectKeys(groups[key])">{{ cell }}</div>
  </div>
</div>


<h2>TruthMap:</h2>
<pre>{{ truthMap | json }}</pre>
